$primary: rgb(251, 142, 11);

.navbar {
    // background-color: aquamarine;

    .main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 34px;
        text-align: center;
    }

    .logo {
        width: 95px;
        height: 36px;
        cursor: pointer;
    }

    a {
        margin-right: 45px;
        font-style: normal;
        font-weight: 540;
        font-size: 17px;
        line-height: 24px;
        color: black;
    }

    img {
        cursor: pointer;
    }

    .new {
        display: flex;
        align-items: center;
    }
}